<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cube_Credit_Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cube_Credit_Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cube_Credit_Service.My.MySettings.cnn" connectionString="Data Source=WHK-TN-SQL-01;Initial Catalog=Cube;User ID=spark;Password=sp@rk" />
        <add name="Cube_Credit_Service.My.MySettings.rfcn" connectionString="Data Source=WHK-TN-SQL-01;Initial Catalog=Cube;User ID=spark;Password=sp@rk" />
        <add name="Cube_Credit_Service.My.MySettings.CubeConnectionString"
            connectionString="Data Source=WHK-TN-SQL-01;Initial Catalog=Cube;User ID=spark;Password=sp@rk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Cube_Credit_Service.My.MySettings>
            <setting name="ErrorLogpath" serializeAs="String">
                <value>C:\CubeServices\CubeCredit Service</value>
            </setting>
            <setting name="AccountsEmail" serializeAs="String">
                <value>Accounts@voxamvia.co.za</value>
            </setting>
            <setting name="EmailServer" serializeAs="String">
                <value>196.44.136.23</value>
            </setting>
            <setting name="EmailUsername" serializeAs="String">
                <value>adsl10</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>iWAY543</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>noreply@telecom.na</value>
            </setting>
            <setting name="InboundGroup" serializeAs="String">
                <value>CUB01IN</value>
            </setting>
            <setting name="LimitGroups" serializeAs="String">
                <value>False</value>
            </setting>
        </Cube_Credit_Service.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Cube_Credit_Service.My.MySettings>
            <setting name="TimerInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </Cube_Credit_Service.My.MySettings>
    </applicationSettings>
</configuration>
