/* r.a.d.slider Default skin */

/* -------------------------------------------------------- GLOBAL SLIDER CLASSES -------------------------------------------------------- */

/* -------------------------------------------------------- GLOBAL SLIDER CLASSES END ----------------------------------------------------- */

/* -------------------------------------------------------- HORIZONTAL SLIDER CLASSES -------------------------------------------------------- */
.RadSlider_Default2006.horizontal
{
	height: 21px; line-height: 21px;
}

.RadSlider_Default2006.horizontal a.handle
{
	width: 11px; height: 22px;
	background-image: url(Slider/Handles.gif);
	background-repeat: no-repeat;
}

.RadSlider_Default2006.horizontal .decrease
{
	background-position: 0 0;
}

.RadSlider_Default2006.horizontal .decrease:hover
{
	background-position: -22px 0;
}

.RadSlider_Default2006.horizontal .decrease:active,
.RadSlider_Default2006.horizontal .decrease:focus
{
	background-position: -44px 0;
}

.RadSlider_Default2006.horizontal .increase
{
	background-position: -11px 0;
}

.RadSlider_Default2006.horizontal .increase:hover
{
	background-position: -33px 0;
}

.RadSlider_Default2006.horizontal .increase:active,
.RadSlider_Default2006.horizontal .increase:focus
{
	background-position: -55px 0;
}

.RadSlider_Default2006.horizontal a.draghandle
{
	top: 0;
	margin-top: -6px;
	width: 9px; height: 17px;
	background-image: url(Slider/DragHandle.gif);
	background-repeat: no-repeat;
}

.RadSlider_Default2006.horizontal a.draghandle:hover
{
	background-position: -9px 0;
}

.RadSlider_Default2006.horizontal a.draghandle:active,
.RadSlider_Default2006.horizontal a.draghandle:focus
{
	background-position: -18px 0;
}

.RadSlider_Default2006.horizontal .track
{
	left: 11px; top: 0;
	height: 2px;
	margin-top: 9px;
	background: #fff url(<%=WebResource("Telerik.Web.UI.Skins.Default2006.Slider.TrackBgr.gif') repeat-x left bottom;
	border-top: solid 1px #dfdfdf;
	border-bottom: solid 1px #bbb;
}

.RadSlider_Default2006.horizontal .selectedregion
{
	background: #dfdfdf;
	height: 2px;
}

/* -------------------------------------------------------- HORIZONTAL SLIDER CLASSES END ---------------------------------------------------- */

/* -------------------------------------------------------- VERTICAL SLIDER CLASSES ---------------------------------------------------------- */
.RadSlider_Default2006.vertical
{
	width: 21px;
}

.RadSlider_Default2006.vertical .handle
{
	width: 22px; height: 11px; line-height: 11px;
	background-image: url(Slider/HandlesVertical.gif);
	background-repeat: no-repeat;
}

.RadSlider_Default2006.vertical .decrease
{
	background-position: 0 0;
}

.RadSlider_Default2006.vertical .decrease:hover
{
	background-position: 0 -22px;
}

.RadSlider_Default2006.vertical .decrease:active,
.RadSlider_Default2006.vertical .decrease:focus
{
	background-position: 0 -44px;
}

.RadSlider_Default2006.vertical .increase
{
	background-position: 0 -11px;
}

.RadSlider_Default2006.vertical .increase:hover
{
	background-position: 0 -33px;
}

.RadSlider_Default2006.vertical .increase:active,
.RadSlider_Default2006.vertical .increase:focus
{
	background-position: 0 -55px;
}

.RadSlider_Default2006.vertical .track
{
	top: 11px; left: 0px;
	width: 2px;
	margin-left: 9px;
	background: #efebe7 url(<%=WebResource("Telerik.Web.UI.Skins.Default2006.Slider.TrackVerticalBgr.gif') repeat-y right 0;
	border-left: solid 1px #dfdfdf;
	border-right: solid 1px #bbb;
}

.RadSlider_Default2006.vertical a.draghandle
{
	top: 0;
	width: 16px; height: 9px;
	margin-left: -7px;
	background-image: url(Slider/DragVerticalHandle.gif);
	background-repeat: no-repeat;
}

.RadSlider_Default2006.vertical a.draghandle:hover
{
	background-position: 0 -9px;
}

.RadSlider_Default2006.vertical a.draghandle:active,
.RadSlider_Default2006.vertical a.draghandle:focus
{
	background-position: 0 -18px;
}

.RadSlider_Default2006.vertical .selectedregion
{
	background: #dfdfdf;
	width: 2px;
}
/* -------------------------------------------------------- VERTICAL SLIDER CLASSES END ----------------------------------------------------- */