/* r.a.d.tooltip INOX skin */

/* r.a.d.tooltip resize element */
div.radtooltip_Inox.ResizeElement
{
	border: solid 1px #bbb;
	background: #f8fce0;
}

div.radtooltip_Inox.LoadingSign
{	
	background: url(ToolTip/Loading.gif)  no-repeat center;
	width: 100%; height: 100%;
}

div.radtooltip_Inox
{
	position: absolute;
	cursor: default;
}

div.radtooltip_Inox.visiblecallout
{
	/**/
}

div.radtooltip_Inox.visiblecallout div.ToolTipCallout
{
	display: block;
}


div.radtooltip_Inox table.ToolTipWrapper
{
	padding: 0; margin: 0;
	border-collapse: collapse;
}

div.radtooltip_Inox table.ToolTipWrapper td
{		
	padding: 0; margin: 0;
	border-collapse: collapse;
	text-align: left;
}

/* -------------------------- CORNER SETTINGS BEGIN ---------------------------------- */
div.radtooltip_Inox table.ToolTipWrapper td.ToolTipTopLeft
{
	background: url(ToolTip/TooltipImages.gif)  no-repeat 0 0;
	width: 3px; height: 3px; line-height: 3px;
	font-size: 1px;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipTopRight
{
	background: url(ToolTip/TooltipImages.gif)  no-repeat -3px 0;
	width: 3px; height: 3px; line-height: 3px;
	font-size: 1px;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipTopCenter
{
	border-top: solid 1px #868b8f;
	background: #c6c6c6 url(ToolTip/BackgroundGradient.gif)  repeat-y center;
	font-size: 1px;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipLeftMiddle
{
	width: 3px;
	background: url(ToolTip/Borders.gif)  repeat-y;
	font-size: 1px;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipRightMiddle
{
	width: 3px;
	background: url(ToolTip/Borders.gif)  repeat-y -3px 0;
	font-size: 1px;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipBottomLeft
{
	height: 3px; width: 3px; line-height: 3px;
	background: url(ToolTip/TooltipImages.gif)  no-repeat -8px bottom;
	font-size: 1px;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipBottomCenter
{
	height: 3px; line-height: 3px;
	background: #c6c6c6 url(ToolTip/BackgroundGradient.gif)  repeat-y center;
	border-bottom: solid 1px #868b8f;
	font-size: 1px;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipBottomRight
{
	height: 3px; width: 3px; line-height: 3px;
	background: url(ToolTip/TooltipImages.gif)  no-repeat -11px bottom;
	font-size: 1px;
}
/* -------------------------- CORNER SETTINGS END ---------------------------------- */

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipContent
{
	font: normal 11px Calibri, Arial, Verdana, Sans-serif;
	height: 100%;
	background: #c6c6c6 url(ToolTip/BackgroundGradient.gif)  repeat-y center;
	color:#333;
}

div.radtooltip_Inox div.ToolTipTitlebar
{	
	color: black;
	font: bold 11px Calibri, Verdana, Arial, Sans-serif;
	float: left;
}

div.radtooltip_Inox table.ToolTipWrapper td.ToolTipTopCenter div.ToolTipTitlebar div
{
	float: left;
	margin-right: 12px;
	line-height: 21px;	
}

/* close button */
div.radtooltip_Inox a.CloseButton,
div.radtooltip_Inox a.CloseButton:hover
{
	display: block; float: right;
	width: 16px; line-height: 16px; height: 16px;
	background: url(ToolTip/close.gif)  no-repeat;
	text-indent: -9999px;
	outline: none;
}

/* --------------------------------------------- TOOLTIP CALLOUT SETTINGS BEGIN --------------------------------------------- */
div.radtooltip_Inox div.ToolTipCallout
{
	position: absolute; top: 0; left: 0;
	line-height: 11px; height: 11px; width: 11px; font-size: 1px;
	background-image: url(ToolTip/Callouts.gif) ;
	background-repeat: no-repeat;
}

/* position="Center" */
div.radtooltip_Inox .Center
{
	background: none !important;
}

/* position="BottomRight" */
.radtooltip_Inox .TopLeft
{
	margin-top: -10px; margin-left: 15px;
}

/* position="BottomCenter" */
.radtooltip_Inox .TopCenter
{
	left: 50% !important;
	margin-top: -10px; margin-left: -5px;
	background-position: 0 -11px !important;
}

/* position="BottomLeft" */
.radtooltip_Inox .TopRight
{
	left: 100% !important;
	margin-top: -10px; margin-left: -26px;
	background-position: 0 -22px !important;
}

/* position="TopCenter" */
.radtooltip_Inox .BottomCenter
{
	top: 100% !important; left: 50% !important;
	margin-left: -5px !important; margin-top: -1px !important; _margin-top: 0 !important;
	width: 100% !important;
	background-position: 0 -55px !important;
}

/* position="TopLeft" */
.radtooltip_Inox .BottomRight
{
	top: 100% !important; left: 100% !important;
	margin-left: -25px !important; margin-top: -1px !important; _margin-top: 0 !important;
	background-position: 0 -44px !important;
}

/* position="TopRight" */
.radtooltip_Inox .BottomLeft
{
	top: 100% !important;
	margin-left: 26px !important; margin-top: -1px !important; _margin-top: 0 !important;
	background-position: 0 -66px !important;
}

/* position="MiddleRight" */
.radtooltip_Inox .MiddleLeft
{
	top: 50% !important;
	margin-left: -10px; margin-top: -5px;
	background-position: 0 -77px !important;
}

/* position="MiddleLeft" */
.radtooltip_Inox .MiddleRight
{
	left: 100% !important; top: 50% !important;
	margin-left: -1px; margin-top: -5px;
	background-position: 0 -33px;
}
/* --------------------------------------------- TOOLTIP CALLOUT SETTINGS END --------------------------------------------- */