<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CUBE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections> 
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Data Source=(local);Initial Catalog=CubeWXX;Integrated Security=SSPI;Persist Security Info=False;"
            providerName="System.Data.SqlClient" />
        <add name="CUBE.My.MySettings.cnn" connectionString="Data Source=(local);Initial Catalog=CubeWXX;Integrated Security=SSPI;Persist Security Info=False;"
            providerName="System.Data.SqlClient" />
        <add name="CUBE.My.MySettings.RFcnn" connectionString="Data Source=(local);Initial Catalog=FaxsterDB;Integrated Security=SSPI;Persist Security Info=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <location path="Users/Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="API.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UserContent">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Manuals">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AcceptInvite.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PastelUserRegistration.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PastelUserRegFeedback.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx" cookieless="UseCookies" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CUBE.My.MySettings.cnn" passwordFormat="Clear" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/CUBE" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="CUBE.My.MySettings.cnn" applicationName="/CUBE" type="System.Web.Security.SqlRoleProvider" />
        <add name="AspNetWindowsTokenRoleProvider" applicationName="/CUBE" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <globalization culture="en-ZA" uiCulture="en-ZA" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpModules/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
   </handlers>
  </system.webServer>
  <applicationSettings>
    <CUBE.My.MySettings>
      <setting name="SendInvitationsToAdministrator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Corporate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableNumberBankSelection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBilling" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendEmails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableNumberBank" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultCompanyID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ManualsPath" serializeAs="String">
        <value>~/Manuals</value>
      </setting>
      <setting name="ReleaseNotesPath" serializeAs="String">
        <value>~/RNotes</value>
      </setting>
      <setting name="EnableProvisionImmediately" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableUsername" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InvitationExpiryDays" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ApplicationDBName" serializeAs="String">
        <value>[Cube]</value>
      </setting>
      <setting name="ContactSubject" serializeAs="String">
        <value>has a Fax to Email Number</value>
      </setting>
      <setting name="RFServer" serializeAs="String">
        <value>192.168.250.95</value>
      </setting>
      <setting name="RFDBNAme" serializeAs="String">
        <value>Rightfax</value>
      </setting>
      <setting name="gmailConsumerKey" serializeAs="String">
        <value>189406274695.apps.googleusercontent.com</value>
      </setting>
      <setting name="gmailConsumerSecret" serializeAs="String">
        <value>GySC06m8E-2dFnBKHESzodHh</value>
      </setting>
      <setting name="YahooConsumerKey" serializeAs="String">
        <value>dj0yJmk9ejRwakMzekpaRnkwJmQ9WVdrOVlrUlBhbFpzTkdVbWNHbzlPRGswTWpZd016WXkmcz1jb25zdW1lcnNlY3JldCZ4PWVl</value>
      </setting>
      <setting name="YahooConsumerSecret" serializeAs="String">
        <value>89340b076dddc439780cafe51bf3b04f1db1aafe</value>
      </setting>
      <setting name="LiveConsumerKey" serializeAs="String">
        <value>0000000040077125</value>
      </setting>
      <setting name="LiveConsumerSecret" serializeAs="String">
        <value>SwKLb0cDJywNu1tVf7Bj1xq6L2N-VivJ</value>
      </setting>
      <setting name="StessCodesID" serializeAs="String">
        <value>tx_bb8fc34f-5b3b-4ce3-afba-516ddc050130</value>
      </setting>
      <setting name="callbackurl" serializeAs="String">
        <value>http://localhost:24000/oauth2callback.aspx</value>
      </setting>
      <setting name="policyurl" serializeAs="String">
        <value>http://login.voxamvia.co.za</value>
      </setting>
      <setting name="BaseURL" serializeAs="String">
        <value>fax.telecom.na</value>
      </setting>
      <setting name="BulkFaxReceipients" serializeAs="String">
        <value>noreply@telecom.na</value>
      </setting>
      <setting name="BulkFaxFromEmail" serializeAs="String">
        <value>noreply@telecom.na</value>
      </setting>
      <setting name="FromEmail" serializeAs="String">
        <value>noreply@telecom.na</value>
      </setting>
      <setting name="EmailCredentialsUsername" serializeAs="String">
        <value>adsl10</value>
      </setting>
      <setting name="EmailCredentialsPassword" serializeAs="String">
        <value>iWAY543</value>
      </setting>
      <setting name="EmailCredentialsServer" serializeAs="String">
        <value>196.44.136.23</value>
      </setting>
    </CUBE.My.MySettings>
  </applicationSettings>
  <appSettings/>
</configuration>