<?xml version="1.0" encoding="Windows-1252"?><CubeServiceSettings>
<AccountsDeptEmail></AccountsDeptEmail>
<API_URL>http://login.voxamvia.co.za/api.asmx</API_URL>
<BulkFaxRecipients>noreply@faxster.co.za</BulkFaxRecipients>
<DefaultRouteType>17</DefaultRouteType>
<FromEmail>noreply@faxster.co.za</FromEmail>
<ImpersonationDomain>Amvia</ImpersonationDomain>
<ImpersonationPassword>Administrator</ImpersonationPassword>
<ImpersonationUsername>Administrator</ImpersonationUsername>
<InboundGroupcode>AMV01IN</InboundGroupcode>
<InviteExpiryDays>5</InviteExpiryDays>
<LimitGroupCodes>True</LimitGroupCodes>
<MailPassword></MailPassword>
<MailServer>smtp.datapro.co.za</MailServer>
<MailUsername></MailUsername>
<ManualsPath>~/Manuals</ManualsPath>
<OffineExcelPath>C:\CubeServices\CUBEOfflineReports\OfflineReports</OffineExcelPath>
<PolicyURL>C:\CubeServices\CUBEOfflineReports\OfflineReports</PolicyURL>
<ReleaseNotesPath>C:\CubeServices\CUBEOfflineReports\OfflineReports</ReleaseNotesPath>
<ReportFileSizeLimit>3</ReportFileSizeLimit>
<ReportFilesPath>C:\CubeServices\CUBEOfflineReports\</ReportFilesPath>
<RightDatabaseName>RightFaxDev</RightDatabaseName>
<RightFaxServerIP>172.16.88.81</RightFaxServerIP>
<ServiceTimerInterval>1000</ServiceTimerInterval>
<SQLIP>172.16.88.81\RIGHTFAX</SQLIP>
<SQLCubeDB>Cube3</SQLCubeDB>
<SQLRightfaxDB>RightFaxDEV</SQLRightfaxDB>
<SQLUsername>amvia</SQLUsername>
<SQLPassword>Vh0stDB</SQLPassword>
<WindowsAuthentication>False</WindowsAuthentication>
</CubeServiceSettings>