/* RadMenu Inox skin */

.RadMenu_Inox 
{
	background: #c5c4c4 url(Menu/MenuBarBackground.gif) repeat-x;
}

.RadMenu_Inox .rmLink
{
	text-decoration:none;
	color: #6b6f80;
	font-size: 11px;
	min-width: 89px;
	line-height: 25px;
	background: #fefefe url(Menu/MainItemBackground.gif) no-repeat top left;
	text-align: center;
}

* html .RadMenu_Inox .rmLink /* IE6 */
{
    width: 89px;
}

.RadMenu_Inox_Context
{
	background: none;
	border: 0;
}

.RadMenu_Inox .rmLink .rmText
{
	background: transparent url(Menu/MainItemBackgroundRight.gif) no-repeat top right;
	padding: 0 10px;
}

.RadMenu_Inox .rmGroup .rmLink .rmText
{
	background: transparent;
	padding-left: 31px;
}

.RadMenu_Inox .rmLast .rmLink
{
	border-right: 1px solid #868485;
}

.RadMenu_Inox .rmVertical .rmLink
{
	border-right: 1px solid #868485;
}

.RadMenu_Inox .rmLink:hover,
.RadMenu_Inox .rmFocused,
.RadMenu_Inox .rmExpanded
{
	background: #fefefe url(Menu/MainItemBackgroundHover.gif) no-repeat top left;
}

.RadMenu_Inox .rmLink:hover .rmText,
.RadMenu_Inox .rmFocused .rmText,
.RadMenu_Inox .rmExpanded .rmText
{
	background: transparent url(Menu/MainItemBackgroundHoverRight.gif) no-repeat top right;
}

.RadMenu_Inox .rmGroup .rmLink:hover .rmText,
.RadMenu_Inox .rmGroup .rmFocused .rmText,
.RadMenu_Inox .rmGroup .rmExpanded .rmText
{
	background: transparent;
}

.RadMenu_Inox .rmRootGroup .rmItem .rmDisabled:hover
{
	background: #fefefe url(Menu/MainItemBackground.gif) no-repeat;
}

.RadMenu_Inox .rmRootGroup .rmItem .rmDisabled:hover .rmText
{
	background: transparent url(Menu/MainItemBackgroundRight.gif) no-repeat top right;
}

.RadMenu_Inox .rmRootGroup .rmGroup .rmItem .rmDisabled:hover
{
	background: #d0d0d0 url(Menu/MenuItemBackground.gif) no-repeat top left;
}

.RadMenu_Inox .rmRootGroup .rmGroup .rmItem .rmDisabled:hover .rmText
{
	background: transparent;
}

.RadMenu_Inox .rmText
{
	color: #6b6f80;
	font-family: Arial, Verdana;
}

.RadMenu_Inox .rmGroup
{
	border-right: solid 1px #a9a9a9;
	border-bottom: solid 1px #c9c9c9;
}

.RadMenu_Inox .rmGroup .rmText
{
	color: #707070;
}      

.RadMenu_Inox .rmGroup .rmLink
{
	background: #d0d0d0 url(Menu/MenuItemBackground.gif) no-repeat;
	min-width: 139px;
	line-height: 28px;
	text-align: left;
	border-right: 1px solid #e6e6e6;
}

* html .RadMenu_Inox .rmGroup .rmLink /* IE6 */
{
	width: 139px;
}

.RadMenu_Inox .rmGroup .rmFirst .rmLink
{
	background: #d0d0d0 url(Menu/MenuItemBgFirst.gif) no-repeat;
	line-height: 33px;
}

.RadMenu_Inox .rmGroup .rmFirst .rmLink:hover,
.RadMenu_Inox .rmGroup .rmFirst .rmFocused,
.RadMenu_Inox .rmGroup .rmFirst .rmExpanded
{
	background: #d0d0d0 url(Menu/MenuItemBgHoverFirst.gif) no-repeat;
	/*line-height: 33px;*/
}

.RadMenu_Inox .rmGroup .rmLink:hover,
.RadMenu_Inox .rmGroup .rmFocused,
.RadMenu_Inox .rmGroup .rmExpanded
{
	background: #d0d0d0 url(Menu/MenuItemBackgroundHover.gif) no-repeat;
	color: #cc6102;
}

.RadMenu_Inox .rmLeftArrow,
.RadMenu_Inox .rmRightArrow,
.RadMenu_Inox .rmTopArrow,
.RadMenu_Inox .rmBottomArrow,
.RadMenu_Inox .rmLeftArrowDisabled,
.RadMenu_Inox .rmRightArrowDisabled,
.RadMenu_Inox .rmTopArrowDisabled,
.RadMenu_Inox .rmBottomArrowDisabled
{
	border-left:1px solid #a9a9a9;
	border-top-color:threedhighlight;
	border-left-color:threedhighlight;
	background: #c9c9c9 url(Menu/left.gif) center center no-repeat;
	width:15px;
}

.RadMenu_Inox .rmTopArrow,
.RadMenu_Inox .rmTopArrowDisabled
{
	background-image:url(Menu/top.gif);
	width:100%;
}

.RadMenu_Inox .rmBottomArrow,
.RadMenu_Inox .rmBottomArrowDisabled
{
	background-image:url(Menu/bottom.gif);
	width:100%;
}

.RadMenu_Inox .rmRightArrow,
.RadMenu_Inox .rmLeftArrow
{
	height:100%;
}

.RadMenu_Inox .rmRightArrow,
.RadMenu_Inox .rmRightArrowDisabled
{
	background-image: url(Menu/right.gif);
}

.RadMenu_Inox .rmSeparator
{
	padding-top: 3px;
	background: #cdcece url(Menu/Separator.gif) no-repeat top left;
	font-size: 1px;
	line-height: 1px;
	border-right: 1px solid #e6e6e6;
}

.RadMenu_Inox .rmGroup .rmLink .rmExpandLeft,
.RadMenu_Inox .rmGroup .rmLink .rmExpandRight
{
	background:transparent url(Menu/groupImage.gif) right center no-repeat;
	padding-right:6px;
}

/* right to left */

.RadMenu_Inox_rtl .rmVertical *,
.RadMenu_Inox_rtl .rmGroup .rmLink
{
    text-align:right !important;
}

.RadMenu_Inox_rtl .rmRootGroup .rmText
{
    padding-right: 6px;
}

.RadMenu_Inox_rtl .rmGroup .rmLink .rmExpandLeft,
.RadMenu_Inox_rtl .rmGroup .rmLink .rmExpandRight
{
	background: transparent url(Menu/left.gif) left center no-repeat;
	margin-left: 8px;
}

.RadMenu_Inox .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Inox .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Inox .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Inox .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Inox .rmGroup .rmExpanded .rmExpandLeft,
.RadMenu_Inox .rmGroup .rmExpanded .rmExpandRight
{
	background:transparent url(Menu/invertedGroupImage.gif) right center no-repeat;
}

.RadMenu_Inox_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Inox_rtl .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Inox_rtl .rmGroup .rmExpanded .rmExpandLeft,
.RadMenu_Inox_rtl .rmGroup .rmExpanded .rmExpandRight
{
	background:transparent url(Menu/invertedGroupImageRTL.gif) left center no-repeat;
	margin: 0px;
	margin-left: 8px;
}